<body>
<div class="container-fluid">
<h4>Total No of STBs = 120</h4>

Active STBs <span class="badge badge-primary">Active</span><br>
Suspended STBs <span class="badge badge-success">Suspended</span><br>
Deactivated STBs <span class="badge badge-danger">Deactivated</span><br>

<hr>


<button type="button" class="btn btn-outline-danger">Hathway</button>
<div class="row">
    <div class="col-md-8"></div>
</div>
<hr>

<button type="button" class="btn btn-outline-danger">SitiCable</button>
</div>
</body>


