<body>
    <div>
        <label>Customer ID</label>
    </div>
    <select id="customerId">
        <option value="">Select Customer ID</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>

    <button type="button" class="btn btn-primary pull-right">Save Details</button>

<br>
<br>




<div class="row">
    <div class= "col-md-7 border big ">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="mobileNumber">Mobile No.</label>
                    <input type="text" class="form-control" id="mobileNumber" placeholder="Mobile No.">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="alternateMobileNumber">Alternate Mobile No.</label>
                    <input type="text" class="form-control" id="alternateMobileNumber" placeholder="Alternate Mobile No.">
                    </div>
                </div>


                <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="colony">Colony</label>
                        <input type="text" class="form-control" id="colony" placeholder="Colony">
                        </div>
                        <div class="form-group col-md-3">
                        <label for="flatNumber">Flat No.</label>
                        <input type="text" class="form-control" id="flatNumber" placeholder="Flat No.">
                        </div>
                        <div class="form-group col-md-3">
                        <label for="plotNumber">Plot No.</label>
                        <input type="text" class="form-control" id="plotNumber" placeholder="Plot No.">
                        </div>
                </div>

                <div class="form-row">
                        <div class="form-group col-md-4">
                        <label for="boxType">Box Type</label>
                        <input type="text" class="form-control" id="boxType" placeholder="Box Type">
                        </div>
                        <div class="form-group col-md-4">
                        <label>Card No.</label>
                        <input type="text" class="form-control" id="cardNumber" placeholder="Card No.">
                        </div>
                        <div class="form-group col-md-4">
                        <label>STB No.</label>
                        <input type="text" class="form-control" id="stbNumber" placeholder="STB No.">
                        </div>
                </div>
            </form>
    </div>
    <div class= "col-md-5 border small">
        <div class="form-row">
                <div class="form-group col-md-4">
                <label>Advance Amt.</label>
                <input type="text" class="form-control" id="advanceAmount" placeholder="Advance Amt.">
                </div>
                <div class="form-group col-md-4">
                </div>
                <div class="form-group col-md-4 pull-right">
                <label>Date</label>
                <input type="text" class="form-control" id="date" placeholder="Date">
                </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
            <label>Id Type</label><br>
            <select id=idType name=idType>
                <option value="aadhar">Aadhar</option>
                <option value="other">Other</option>
            </select>
            </div>
            <div class="form-group col-md-9">
            <label>Id Number</label>
            <input type="text" class="form-control" id="idNumber" placeholder="Id Number">
            </div>
        </div>

        <div class="form-row">
                <div class="form-group col-md-12">
                <label>Status</label>
                <br>
                <h5><span class="badge badge-primary">Active</span></h5>
                <h5><span class="badge badge-success">Suspended</span></h5>
                <h5><span class="badge badge-danger">Deactivated</span></h5>
                </div>
        </div>

        <div class="form-row">
                <div class="form-group col-md-6">
                <label>Suspension Date</label>
                <input type="text" class="form-control" id="suspensionDate" placeholder="Suspension Date">
                </div>
                <div class="form-group col-md-6">
                <label>Re Activation Date</label>
                <input type="text" class="form-control" id="reactivationDate" placeholder="Reactivation Date">
                </div>
        </div>




    </div>
</div>

<br>
<br>

<table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Payment Amount</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
            <th>Outstanding Bal.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td><input type="text" class="form-control" id="firstName" placeholder=""></td>
            <td></td>
          </tr>
          <tr>
            <td>
                <div class="form-row">
                    <div class="form-group col-md-12">
                    <span class="badge badge-primary">Monthly</span>
                    <span class="badge badge-success">Half Yearly</span>
                    <span class="badge badge-danger">Yearly</span>
                    </div>
                </div>
            </td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            <td><input type="text" class="form-control" id="firstName" placeholder="Date"></td>
            </tr>
        </tbody>
      </table>

      <div class="form-row net-balance">
            <div class="form-group col-md-8">
            <label>Net Bal.</label>
            <input type="text" class="form-control" id="netBalances" placeholder="Net Balance">
            </div>
    </div>
</body>